@model SecureAssetManager.Models.Control

@{
    ViewData["Title"] = "Detalles del Control";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Detalles del Control</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TipoControl)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TipoControl)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Efectividad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Efectividad)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BrechaSeguridadIdentificada)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BrechaSeguridadIdentificada)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Implementacion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Implementacion)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Monitoreo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Monitoreo)
        </dd>
    </dl>

    <div>
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>
