@model SecureAssetManager.Models.Threat

@{
    ViewData["Title"] = "Detalles de la Amenaza";
}

<h1>Detalles de la Amenaza</h1>

<div>
    <h4>Amenaza</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThreatOrigin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThreatOrigin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThreatDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThreatDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degradation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degradation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Probability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Probability)
        </dd>
    </dl>
    <div>

        <a href="@Url.Action("Edit", "Threat", new { id = Model.Id })" class="btn btn-custom"> Editar</a>

        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>


@functions {
    private string GetRiesgoResidualTexto(double riesgoResidual)
    {
        if (riesgoResidual >= 1 && riesgoResidual <= 5)
        {
            return "ACEPTAR";
        }
        else if (riesgoResidual >= 6 && riesgoResidual <= 18)
        {
            return "MITIGAR";
        }
        else if (riesgoResidual >= 19 && riesgoResidual <= 25)
        {
            return "EVITAR";
        }
        else if (riesgoResidual >= 26 && riesgoResidual <= 36)
        {
            return "TRANSFERIR";
        }
        else
        {
            return "Desconocido";
        }
    }
}
